/*ブレイクポイントを指定*/
// $pc: 1300px;
$sp: 519.9px;
$tab: 520px;
$products:670px;
$pc:960px;

@mixin sp {
  @media screen and(max-width:($sp)) {
    @content;
  }
}

@mixin tab {
	@media screen and (min-width: ($tab)) {
		@content;
	}
}

@mixin products {
  @media screen and (min-width: ($products)) {
    @content;
  }
}

@mixin pc {
  @media screen and (min-width: ($pc)) {
    @content;
  }
}
