
html,
body {
	height: 100%; /*高さを100%にして描画エリアをとる*/
	// overflow: hidden;
}

#particles-js-green {
	position: fixed; /*描画固定*/
	z-index: -1; /*描画を一番下に*/
	width: 100%;
	height: 100%;
}

#particles-js-white {
	position: fixed; /*描画固定*/
	z-index: -1; /*描画を一番下に*/
	width: 100%;
	height: 100%;
	background-color: #000; /*背景色*/
}

#particles-js-red {
	position: fixed; /*描画固定*/
	z-index: -1; /*描画を一番下に*/
	width: 100%;
	height: 100%;
	// background-color: #000; /*背景色*/
}

#wrapper {
	position: relative; /*描画を#particles-jsよりも上にするためposition:relative;を指定*/
	z-index: 1; /*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
	width: 100%;
	height: 100%;
}

#content {
	position: absolute;
	width: 100%;
	background-color: transparent;
	background-image: linear-gradient(
			0deg,
			transparent 9%,
			rgba(255, 255, 255, 0.2) 10%,
			rgba(255, 255, 255, 0.2) 12%,
			transparent 13%,
			transparent 29%,
			rgba(255, 255, 255, 0.1) 30%,
			rgba(255, 255, 255, 0.1) 31%,
			transparent 32%,
			transparent 49%,
			rgba(255, 255, 255, 0.1) 50%,
			rgba(255, 255, 255, 0.1) 51%,
			transparent 52%,
			transparent 69%,
			rgba(255, 255, 255, 0.1) 70%,
			rgba(255, 255, 255, 0.1) 71%,
			transparent 72%,
			transparent 89%,
			rgba(255, 255, 255, 0.1) 90%,
			rgba(255, 255, 255, 0.1) 91%,
			transparent 92%,
			transparent
		),
		linear-gradient(
			90deg,
			transparent 9%,
			rgba(255, 255, 255, 0.2) 10%,
			rgba(255, 255, 255, 0.2) 12%,
			transparent 13%,
			transparent 29%,
			rgba(255, 255, 255, 0.1) 30%,
			rgba(255, 255, 255, 0.1) 31%,
			transparent 32%,
			transparent 49%,
			rgba(255, 255, 255, 0.1) 50%,
			rgba(255, 255, 255, 0.1) 51%,
			transparent 52%,
			transparent 69%,
			rgba(255, 255, 255, 0.1) 70%,
			rgba(255, 255, 255, 0.1) 71%,
			transparent 72%,
			transparent 89%,
			rgba(255, 255, 255, 0.1) 90%,
			rgba(255, 255, 255, 0.1) 91%,
			transparent 92%,
			transparent
		);

	height: 100%;
	background-size: 50px 50px;
}