.c-animation--forward-rotation {
	animation: forward-rotate 160s linear infinite;
}
@keyframes forward-rotate {
	0% {
		transform: translate(-50%, -50%) rotate(0);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.c-animation--back-rotation {
	animation: back-rotate 120s linear infinite;
}
@keyframes back-rotate {
	0% {
		transform: translate(-50%, -50%) rotate(0);
	}
	100% {
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}

.c-animation--text-rotation {
	animation: text-rotate 50s linear infinite;
}
@keyframes text-rotate {
	0% {
		transform: translate(-50%, -50%) rotate(0);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.c-animation--inner-rotation {
	animation: inner-rotate 25s linear infinite;
}
@keyframes inner-rotate {
	0% {
		transform: translate(-50%, -50%) rotate(0);
	}
	100% {
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}

.c-animation--inner2-rotation {
	animation: inner2-rotate 20s linear infinite;
}
@keyframes inner2-rotate {
	0% {
		transform: translate(-50%, -50%) rotate(0);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.c-animation--inner3-rotation {
	animation: inner3-rotate 10s linear infinite;
}
@keyframes inner3-rotate {
	0% {
		transform: translate(-50%, -50%) rotate(0);
	}
	100% {
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}