@use "../global/font" as f;
@use "../global/color" as c;

.c-head {
	text-align: right;
	color: white;
	font-family: f.$Roboto;
	font-weight: 900;
	letter-spacing: 0.5px;
	&--products {
		@extend .c-head;
		color: c.$font-gray;
		font-size: 1.2rem;
		margin-bottom: 0.5rem;
	}
}
