@use "../global/color" as c;

.loading {
	width: 100%;
	height: 100%;
	transition: all 1s;
	position: absolute;
	background-color: c.$bgc-black;
	z-index: 10;
	top: 0;
}
.open {
	top: -150%;
	animation: open;
	animation-duration: 0.5s;
	opacity: 0.5;
	transition: .2;
}

@keyframes open {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
	}
}

.load-text {
	/*対象のテキスト*/
	position: relative;
	top: 50%;
	width: 5em;
	margin: 0 auto;
	border-right: 2px solid rgba(255, 255, 255, 0.75);
	font-size: 180%;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	transform: translateY(-50%);
}

.anim-typewriter {
	/*アニメーションセッティング*/
	animation: typewriter 1s steps(9) 1.5s 1 normal both, blinkTextCursor 500ms steps(9) infinite normal;
}
@keyframes typewriter {
	/*タイプライターライクなアニメーション*/
	from {
		width: 0;
	}
	to {
		width: 5em;
	}
}
@keyframes blinkTextCursor {
	/*点滅するカーソルのアニメーション*/
	from {
		border-right-color: rgba(255, 255, 255, 0.75);
	}
	to {
		border-right-color: transparent;
	}
}

