@use "../global/font" as f;
@use "../global/color" as c;
@use "../global/breakpoint" as bp;

.c-text {
	font-size: f.$text-normal;
	color: c.$font-white;
	font-family: f.$Roboto;

	&--ttl {
		@extend .c-text;
		font-size: f.$text-max;
		@include bp.sp {
			font-size: 3rem;
		}
	}

	&--small {
		@extend .c-text;
		font-size: f.$text-small;
		font-weight: 300;
	}

	&--large {
		@extend .c-text;
		font-size: f.$text-large;
	}

	&--underline {
		text-decoration: underline;
		text-decoration-color: #fff;
	}

	&--weight {
		font-family: f.$Roboto;
		font-weight: 700;
		letter-spacing: 0.1em;
	}

	&--link {
		@extend .c-text--small;
		color: c.$font-gray;
		text-align: justify;
		grid-area: products;
		position: relative;
	}
}
