@use "../global/font" as f;
@use "../global/color" as c;

.c-text {
	font-size: f.$text-normal;
	color: c.$font-white;
	font-family: f.$Roboto;
	
	&--ttl {
		@extend .c-text;
		font-size: f.$text-max;
	}

	&--small {
		@extend .c-text;
		font-size: f.$text-small;
		font-weight: 300;
	}

	&--large {
		@extend .c-text;
		font-size: f.$text-large;
	}

	&--underline {
		text-decoration: underline;
		text-decoration-color: #fff;
	}

	&--weight {
		font-weight: 700;
		letter-spacing: 0.1em;
	}
}
