@use "../global/breakpoint" as bp;

.p-front-page {
	display: flex;
	justify-content: center;
	margin: auto auto 0;
	height: fit-content;
	position: relative;

	&__gif {
		opacity: 0;
		width: 90%;
		@include bp.tab {
			width: 100%;
		}
	}
	&__circle {
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: -1;
		width: 90%;
		opacity: 0;
		transform: translate(-50%,-50%);
	}
}
