.p-header {
	font-size: 4rem;
	line-height: 0.9;
	margin: 2.5rem 2rem 0 0;
	overflow: hidden;
	width: 95%;
	position: relative;
	&--link {
		@extend .p-header;
		margin: 2rem 2rem 1rem 0;
		overflow: unset;
	}

	&__ttl {
		transition: 0.5s;
		&:nth-child(2) span {
			color: #ff0000;
			transition: 0.5s;
		}
	}
}

.p-header {
	&__ttl--slide {
		transform: translateX(100%);
		animation: SlideIn 1s;
		animation-delay: 0.5s;
		animation-fill-mode: forwards;
	}

	&__ttl:nth-child(2) {
		transform: translateX(100%);
		// animation: SlideIn 1s;
		// animation-delay: 1.5s;
		// animation-fill-mode: forwards;
	}
	&__ttl:nth-child(3) {
		transform: translateX(100%);
		// animation: SlideIn 1s;
		// animation-delay: 1.6s;
		// animation-fill-mode: forwards;
	}
	&__ttl:nth-child(4) {
		transform: translateX(100%);
		// animation: SlideIn 1s;
		// 	animation-delay: 1.7s;
		// animation-fill-mode: forwards;
	}
	&__ttl:nth-child(5) {
		transform: translateX(100%);
		// animation: SlideIn 1s;
		// 	animation-delay: 1.8s;
		// animation-fill-mode: forwards;
	}
}

@keyframes SlideIn {
	from {
		opacity: 0;
		transform: translateX(100%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.js-gray {
	color: gray;
	transition: 0.5s;
}

.js-header2 {
	// transform: translateX(100%);
	animation: SlideIn 1s;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;
}

.js-header3 {
	animation: SlideIn 1s;
	animation-delay: 1.6s;
	animation-fill-mode: forwards;
}

.js-header4 {
	animation: SlideIn 1s;
	animation-delay: 1.7s;
	animation-fill-mode: forwards;
}

.js-header5 {
	animation: SlideIn 1s;
	animation-delay: 1.8s;
	animation-fill-mode: forwards;
}
