/* 線の描写 */
.p-line {
	content: "";
	/*描画位置*/
	position: absolute;
	top: 0;
	right: 1rem;
	/*線の形状*/
	width: 5px;
	background: yellow;
	/*線の動き*/
	animation: line .5s ease-in-out forwards;
	animation-delay: 5s;
	opacity: 0;
	z-index: 80;
}

@keyframes line {
	0% {
		height: 0;
		top: 45px;
		opacity: 0;
	}

	100% {
		height: 250px;
		top: 45px;
		opacity: 1;
	}
}
