@use "../global/font" as f;
@use "../global/color" as c;

.p-nav {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px;
	width: 65%;
	margin: auto auto 0;
	&__btn {
		width: 100%;
		padding: 0.5em 1em;
		transition: 0.5s;
	}
	&__btn > span {
		color: c.$font-white;
	}
	&--link {
		display: flex;
		justify-content: center;
		gap: 1rem;
		margin: 2rem auto;
		width: 80%;
		max-width: 700px;
	}
}
// .box {
// 	margin: 10px;
// 	background: #111738;
// 	display: inline-block;
// }

// .text-centered {
// 	font: bold 100px "Source Code Pro", "consolas", "Menlo", "Courier";
// 	fill: #ffffff;
// 	dominant-baseline: middle;
// 	text-anchor: middle;
// }
