.p-skill {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 25px;
	width: 80%;
	margin: 0 auto;
	height: auto;
	&__card {
		background-color: rgba(255, 255, 255, 0.9);
		box-shadow: 4px 4px 0 rgba(255, 255, 255, 0.6);
		padding-bottom: 1rem;
	}
	&__icon {
		display: flex;
		justify-content: space-around;
		margin: 1.5rem auto;
		width: 90%;
		border-bottom: 1px solid;
		box-shadow: 0 2px 0 #eee;
		padding-bottom: 1rem;

		&--text {
			@extend .p-skill__icon;
			width: 90%;
			height: 80px;
			margin: 2.5rem auto 1.5rem;
			align-items: center;
		}
	}

	&__description {
		margin: 1rem 1rem 2rem;
		text-align: justify;
	}
}
