@use "../global/font" as f;

.snow-monkey-form {
	margin: auto;
	width: 90%;
}
.smf-item {
	align-items: baseline;
}

//戻る　送信するボタンのスタイル
.smf-action .smf-button-control .smf-button-control__control {
	padding-left: 2ch;
	padding-right: 2ch;
	font-family: f.$Roboto ;
}


//contactフォーム内テキストのフォント指定
.smf-item__label__text{
	font-family: f.$Roboto ;
}